.App {
  background-color: white;
  font-family: 'Times New Roman', Times, serif;
  color: white;
  background-color: rgb(114, 104, 104);
}

input {
  color: midnightblue;
}

body {
  background-color: rgb(114, 104, 104);
}

h1 {
  text-align: center;
}
